body{
	background-image:url(zombiebackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	}
	

h1{
	text-align: center;
	color: #AFE313;
	font-family: impact;
}
h2{
	text-align: center;
	color: #BEE64B;
	font-family: impact;
}
.transbox{
	margin: 10px;
	background: #ffffff;
	border: 3px solid white;
	opacity: .6;
	filter: alpha(opacity=60);
	
}
.bodywritting{
	color: black;
	font-family: Courier New;
	font-size: 	25px;
	font-weight: bold;
}
ul{
	list-style: none;
	margin-right: 15px;
}
.listwritting{
		color: black;
	font-family: Courier New;
	font-size: 	15px;
	font-weight: bold;
}
button{
  background-color:  #AFE313;
  border: none;
  color: #56887D;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonhannah{
	border-radius: 12px;
}
button:hover {
  background-color: #9DE093;
  color: black;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 12px;
}
.centerit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#topofthePage{
	
}
div div div div ul li a{
	color: #56887D;
}
div div div div ul li a:hover{
	color:#666;
}